@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  scroll-padding-top: 100px;
}
body {
  background-color: #fffaf5;
}

.transparent-scrollbar::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}
.transparent-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* color of the scroll thumb */
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffa041;
  border-radius: 100px;
}